.own-container{
    background-color: #F7FDFF;
    padding: 50px 0px;
}
.fa-plus{
    width: 25px;
    height: 25px;
    line-height: 25px;
    background-color: #0096C8;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
}
.fa-plus ~ strong{
    font-size: 14px;
}
.own-item ~ p{
    font-size: 13px;
}
.own-btn{
    width: 100px;
    border: 1px solid var(--main);
    color: var(--main);
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}
@media (max-width: 576px) { 
    .own-container{
        padding: 30px 0px;
    }
    .own-btn{
        width: 100%;
    }

}